@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 93.75rem;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.438rem;
    padding-bottom: 3.188rem;
}

.nav-britlex {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #000000;
}

.nav-britlex span {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #939393;
}

.navigation-items {
    display: flex;
    align-items: center;
    gap: 2.875rem;
    list-style-type: none;
}

.navigation-items li a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000;
}

.navigation-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.75rem;
    height: 4.375rem;
    border: 2px solid #263238;
    border-radius: 0.313rem;
    color: #000000;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.header-learn-language{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn-text-content{
    /* width: 39.5rem;
    height: 35.438rem; */
}

.learn-text-content h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 2.375rem;
    padding-bottom: 2.5rem;
}

.learn-text-content p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #8F95A5;
    padding-bottom: 3.813rem;
}

.learn-text-content-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.375rem;
    height: 7.375rem;
    background: #263238;
    border-radius: 0.938rem;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #fff;
}